@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fuente-titulo: 'Krona One', sans-serif;
    --fuente-texto: 'Montserrat', sans-serif;

    --color-letras: #000000;
    --color-titulo: #ffffff;
    --color-fondos: #000000;
    --color-body: #f2f2f2;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
body {
    background-color: var(--color-body);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: relative;
    height: auto;
}

/* Estilo para la imagen del logo */
header img {
    height: 75px;
    margin: 0 0px 0 20px;

}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--color-titulo);
    padding: 20px 0;
    font-family: var(--fuente-titulo);
}

main {
    font-family: var(--fuente-texto);
}

/* Estilo para el input de texto */
#textoAModificar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Sección de contenedores */
#container1,
#container2 {
    margin: 20px;
    border: 2px solid #ccc;
    font-family: var(--fuente-texto);
}

/* Estilo para la caja de texto encriptado */
#textoEncriptado {
    background-color: var(--color-titulo);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 0;
}

/* Estilo para los botones */
button {
    color: var(--color-titulo);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

/* Contenedor de los botones */
button-containner {
    text-align: center;
    margin: 20px 0;
}

/* Estilo para la caja de texto desencriptado */
#textoDesencriptado {
    background-color: var(--color-body);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}




footer {
    text-align: center;
    padding: 20px 0;
    color: var(--color-titulo);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: var(--fuente-titulo);
}

header,
footer {
    width: 100%;
    height: 100px;
}

/* Social Media */
.social-media {
    color: var(--color-letras);
    margin: 40px;
    text-align: center;
    color: var(--color-letras);
    font-size: 1.5rem;
}

/* Logos redes */
#linkedin, #github {
    width: 50px;
    height: 50px;
    margin: 10px;
    text-decoration: none;
}
#linkedin {
    color: #0077b5
}
#github {
    color: var(--color-fondos)
}

/* Estilo para el mensaje de invitación */
.invitation-message {
    text-align: center;
    font-size: 20px;
}

/* Estilo Aviso de advertencia */
#alert {
    color: #000000;
    border: 1px solid #f70000;
    width: 45%;
    padding: 5px;
}

/* Adaptable (Responsivo) */
@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .navbar {
        padding: 50px 0;
    }
}

@media screen and (max-width: 400px) {
    .invitation-message {
        display: none;
    }
    .social-media {
        margin: 1px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 560px){
    #alert{
    width: 75%;
    padding: 5px;
    }
}